*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

html{
    font-family: sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header{
    text-align: center;
    transition: 0.5s;
}
.main-header:hover{
    -webkit-box-shadow: 2px 2px 35px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 35px 5px rgba(0,0,0,0.75);
box-shadow: 2px 2px 35px 5px rgba(0,0,0,0.75);
}

.main-header h1{
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    color: lightpink;
}
.main-header hr{
    width: 50%;
    margin: auto;
    padding: 5px;
    background: #E1f06c;
    border:none;
}
.main-header h3{
    font-size: 2rem;
    margin: 20px;
    color: lightblue;
    font-family: "Poppins", sans-serif;
}
.main-header input{
    width: 90;
    padding: 1rem;
    margin: 20px 0px;
    border: none;
    color: white;
    border-bottom: 2px solid #5f5fb0;
    font-size: 1.3rem;
    background: transparent;
    outline: none;
}
.main-header button{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: purple;
    color: white;
    border: none;
    border-radius: 50px;;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    margin: 20px;
}
.main-header button:hover{
    transform: scale(1.2);
}
